# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
venv/
env/

# Environment Variables
*.env

# Flask Instance Folder
instance/

# IDE/Editor
.vscode/
.idea/

# SQLite Database
*.db
*.sqlite3

# Migrations
migrations/

# Logs
*.log
