@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600&display=swap");

:root {
    /*https://colorhunt.co/palette/eef5ffb4d4ff86b6f6176b87  (Link to color palette)*/
    --lightgray: #EEF5FF;
    --lightblue: #B4D4FF;
    --darkerlightblue: #98b4d9;
    --skyblue: #86B6F6;
    --deepblue: #176B87;
    --bodybackground: #f0f0f0;
    --fontcolor: #808080;
}

.navBar {
    width: 100vw;
    max-height: 10vh;
    display: grid;
    grid-template-rows: repeat(1, 10vh);
    grid-template-columns: 10vw 35vw 55vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--deepblue);
    position: sticky;
    top: 0px;
    z-index: 1;
}

body {
    margin: 0;
    font-family: 'Ubuntu', 'Courier New', Courier, monospace;
    color: var(--fontcolor);
    background-color: var(--bodybackground);
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, auto);
}

.buttonContainer img {
    width: 15vw;
    height: auto;
}

.logoName {
    font-size: 48px;
    font-weight: 900;
    color: var(--bodybackground);
    text-align: left;
}

.logoImg {
    width: 48px;
    height: 48px;
    justify-self: center;
}

.logoName:hover, .logoImg:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdownContent {
    display: none;
    width: 100%;
    position: absolute;
    background-color: var(--deepblue);
}

#dropdownContent .link {
    background-color: var(--deepblue);
    color: var(--bodybackground);
    font-weight: 600;
    font-size: 20px;
}

#dropdownContent a:hover {
    color: var(--skyblue);
    cursor: pointer;
}

.dropdown:hover #dropdownContent {
    display: block;
}


.buttonContainer button,
.startNowBtn button, .logForm div {
    width: auto;
    max-height: 10vh;
    color: var(--bodybackground);
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    text-align: center;
    background-color: var(--deepblue);
    font-family: 'Ubuntu', Courier, monospace;
}

.buttonContainer button:hover,
.startNowBtn button:hover, .logForm div:hover {
    color: var(--skyblue);
    scale: 1.05;
}

.imageSliderContainer {
    width: 100vw;
}

.images img {
    width: 100vw;
    height: 70vh;
}

.hide {
    display: none;
}

.indicators {
    position: relative;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    bottom: 7.5vh;
}

.indicators div {
    border-radius: 100%;
    background-color: white;
    opacity: .45;
    width: 16px;
    height: 16px;
    transition: 0.3s;
}

.indicators div.indicated {
    opacity: 1;
    width: 20px;
    height: 20px;
}

.quoteContainer {
    display: flex;
    text-align: center;
    align-items: center;
    width: 75vw;
    height: 25vh;
    margin-left: 12.5vw;
}

.quote {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
}

.siteInfoContainer {
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(1, 60vh);
    grid-template-columns: 40vw 40vw;
    justify-content: center;
    align-items: center;
}


.infoHeader h1 {
    font-size: 32px;
}

.infoImg img {
    max-width: 35vw;
    max-height: auto;
    margin-left: 5vw;
}

.startNowBtn button {
    width: 15vw;
    height: 5vh;
    border: none;
    color: var(--bodybackground);
    background-color: var(--deepblue);
    font-family: 'Ubuntu', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
.recomendationsPage {
    text-align: center;
    padding: 20px;
    background-color: var(--lightgray);
    color: var(--deepblue);
}

.recsPage {
    font-size: 36px;
    margin-bottom: 10px;
}

.recommendations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: var(--lightgray);
    border-radius: 10px;
}

.recommendation {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.recommendation h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--deepblue);
}

.recommendation img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recommendation p {
    font-size: 16px;
    color: var(--deepblue);
}

.recommendation.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.recommendation.enlarged h3 {
    font-size: 24px; /* Adjust the font size as needed */
    margin-bottom: 10px;
}

.recommendation.enlarged img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recommendation.enlarged p {
    font-size: 18px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height as needed */
    color: #333; /* Adjust the color as needed */
    margin-bottom: 10px;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--bodybackground);
}

.travelForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 100px;
    border-radius: 25px;
    gap: 0.1vw;
}

.travelForm h2 {
    color: var(--deepblue);
    font-size: 30px;
}

.travelForm label {
    width: 100%;
    text-align: left;
    display: block;
    margin-top: 5px;
    color: var(--deepblue);
    font-weight: bold;
}

.travelForm input {
    width: 100%;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    border-bottom: 2px solid black;
}

.travelForm input::placeholder {
    text-indent: 5px;
}

.travelForm input:hover {
    text-decoration: none;
}

.travelForm input:focus {
    outline: none;
}

.travelForm a {
    align-items: center;
}

.travelForm button {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--deepblue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    transition: ease-in 0.1s;
    margin: 20px 0px;
}
.travelForm button:hover {
    background-color: var(--skyblue);
    scale: 1.05;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.savePlanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.savePlanner button {
    border: none;
    padding: 10px 60px;
    font-size: 20px;
    background-color: var(--deepblue);
    color: var(--bodybackground);
    border-radius: 10px;
}

.savePlanner button:hover {
    scale: 1.02;
    background-color: var(--lightblue);
}

.daysContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

h2.title {
    font-size: 30px;
}

.day {
    display: flex;
    width: 20vw;
    height: 175vh;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: var(--deepblue);
    padding: 1.5vw;
    border: double 4px var(--deepblue);
    border-radius: 20px;
}

.day {
    font-size: 20px;
}

.itineraryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bodybackground);
}

h1.title {
    font-size: 40px;
    color: var(--deepblue);
    text-align: center;
}

.sign-up-container, .login-container {
display: flex;
justify-content: center;
align-items: center;
padding: 75px 0px;
}

.sign-up, .login {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--deepblue);
background-color: white;
padding: 40px 100px;
border-radius: 25px;
gap: 2vw;
scale: 1.1;
}

.sign-up h1, .login h1 {
text-align: center;
font-size: 30px;
}

.sign-up input, .login input {
border: none;
border-bottom: 2px solid black;
width: 100%;
}

.sign-up label, .login label {
width: 100%;
display: block;
font-weight: 600;
font-size: 16px;
text-align: left;
}

.sign-up button, .login button {
width: 100%;
display: block;
border: none;
padding: 10px;
border-radius: 5px;
background-color: var(--deepblue);
color: white;
font-size: 16px;
}

.sign-up button:hover, .login button:hover {
scale: 1.05;
background-color: var(--lightblue);
}

.sign-up button:focus, .login button:focus {
outline: none;
}

.sign-up input::placeholder, .login input::placeholder {
text-indent: 2px;
}

.sign-up input:focus, .login input:focus {
outline: none;
}

.sign-up p:hover, .login p:hover {
text-decoration: underline;
cursor: pointer;
}

.hideForm {
    display: none;
}

.button:hover {
    cursor: pointer;
}

.startNowBtn button {
    cursor: pointer;
}

.recommendation:hover {
    cursor: pointer;
}


/* About us Page */
.aboutUsHeading, .missionStatement, .marketingSlogan {
    color: var(--deepblue);
}


/* CSS for the floating toolbar */
.floating-toolbar {
    position: fixed;
    bottom: 65px;
    right: 20px;
    padding: 0px 7.5px;
    border-radius: 20px; 
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    transition: all 0.3s ease; /* Add transition for smooth animation */
    max-width: 70%; /* Limit maximum width of the bubble */
    z-index: 1000; /* Set a higher z-index for the toolbar */
    cursor: pointer;
}
  
  /* Enlarged state */
.floating-toolbar.enlarged {
    width: 300px; 
    height: auto; /* Allow height to expand to fit content */
    border-radius: 20px; /* Retain border radius */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1001; /* Set an even higher z-index for the enlarged toolbar */
}

  /* Hover effect */
.floating-toolbar:hover {
    background-color: #e0e0e0; 
}
  

.toolbar-content {
    padding: 10px;
}

.toolbar-text {
    white-space: pre-line; /* Preserve line breaks */
    color: #000000; /* Set the text color */
    font-size: 16px; /* Set the font size */
    /* Add any additional styling as needed */
}

.teamContainer {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    color: var(--deepblue);
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamMember img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teamMember h4 {
    margin: 5px 0;
    font-size: 1.2em;
}

.teamMember p {
    margin: 0;
    font-size: 1em;
}

@media (max-width: 768px) {
    .teamGrid {
      grid-template-columns: 1fr;
    }
}

.hidden {
    display: none;
}

#errorMsg {
    color: red;
    text-align: left;
    font-weight: 600;
}

#chatbot {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1002;
}

#chatbot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#chatbot-header button {
    border: none;
    padding: 5px 25px;
    background-color: #007BFF;
    color: white;
    border-radius: 25px;
    font-size: 16px;
}

#chatbot-header button:hover {
    background-color: #0068d9;
}

.chatbot-messages {
    padding: 15px;
    height: 300px;
    overflow-y: auto;
}

#userInput {
    border: none;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 20px);
}

#chatbotButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#chatbotButton:hover {
    background-color: #e0e0e0; 
}

.hiddenForm {
    display: none;
    position: absolute;
}

.styled-button {
    background-color: #3b7a99; 
    color: white; 
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    display: inline-block; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s; 
    margin-left: 130px; 
}

.styled-button:hover {
    background-color: #356a80;
}

.styled-textarea {
    width: calc(100% - 50px); 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    margin: 10px 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); 
}

.styled-textarea:focus {
    border-color: #3b7a99; 
    outline: none; 
}


.errorPageDiv {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorPageDiv h1 {
    color: black;
}

.aboutUsPage {
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 10vh 0vh;
    gap: 0;
}

.aboutUsPage p {
    font-size: 20px;
    color: var(--deepblue);
}

.aboutUsPage h1 {
    color: var(--deepblue);
    font-size: 30px;
}

.ourMission {
    width: 65%;
    display: flex;
    gap: 25px;
}

.aboutUsPage .missionImg {
    width: 500px;
    height: auto;
}

.aboutUsPage img {
    width: 400px;
    height: auto;
}

.ourMissionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUsPage h1 {
    margin: 0px;
}

#aboutUsHead {
    padding-top: 5vh;
}