:root {
    /*https://colorhunt.co/palette/eef5ffb4d4ff86b6f6176b87  (Link to color palette)*/
    --lightgray: #EEF5FF;
    --lightblue: #B4D4FF;
    --darkerlightblue: #98b4d9;    
    --skyblue: #86B6F6;
    --deepblue: #176B87;
    --bodybackground: #f0f0f0;
    --fontcolor: #808080;
}

.navBar {
    width: 100vw;
    max-height: 10vh;
    display: grid;
    grid-template-rows: repeat(1, 10vh);
    grid-template-columns: 10vw 35vw 50vw 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    position: sticky;
    top: 0px;
    z-index: 1;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--fontcolor);
    background-color: var(--bodybackground);
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, auto);
}

.buttonContainer img {
    width: 15vw;
    height: auto;
}

.logoName {
    font-size: 48px;
    font-weight: 900;
    color: var(--bodybackground);
    text-align: left;
}

.logoImg {
    width: 48px;
    height: 48px;
    justify-self: center;
}

.buttonContainer button,
.startNowBtn button {
    width: auto;
    max-height: 10vh;
    color: var(--bodybackground);
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    text-align: center;
    background-color: var(--lightblue);
    font-family: 'Courier New', Courier, monospace;
}

.buttonContainer button:hover,
.startNowBtn button:hover {
    color: var(--skyblue);
    scale: 1.05;
}

.imageSliderContainer {
    width: 100vw;
}

.images img {
    width: 100vw;
    height: 70vh;
}

.hide {
    display: none;
}

.indicators {
    position: relative;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    bottom: 7.5vh;
}

.indicators div {
    border-radius: 100%;
    background-color: white;
    opacity: .45;
    width: 16px;
    height: 16px;
    transition: 0.3s;
}

.indicators div.indicated {
    opacity: 1;
    width: 20px;
    height: 20px;
}

.quoteContainer {
    display: flex;
    text-align: center;
    align-items: center;
    width: 75vw;
    height: 25vh;
    margin-left: 12.5vw;
}

.quote {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
}

.siteInfoContainer {
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(1, 60vh);
    grid-template-columns: 40vw 40vw;
    justify-content: center;
    align-items: center;
}


.infoHeader h1 {
    font-size: 32px;
}

.infoImg img {
    max-width: 35vw;
    max-height: auto;
    margin-left: 5vw;
}

.startNowBtn button {
    width: 15vw;
    height: 5vh;
    border: none;
    color: var(--bodybackground);
    background-color: var(--lightblue);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;  
}
.recomendationsPage {
    text-align: center;
    padding: 20px;
    background-color: var(--lightgray);
    color: var(--fontcolor);
}

.recsPage {
    font-size: 36px;
    margin-bottom: 10px;
}

.recommendations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr; 
    gap: 20px;
    padding: 20px;
    background-color: var(--lightgray);
    border-radius: 10px;
}

.recommendation {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.recommendation h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recommendation img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recommendation p {
    font-size: 16px;
    color: black;
}


.recommendation.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}
  
.recommendation.enlarged h3 {
    font-size: 24px; /* Adjust the font size as needed */
    margin-bottom: 10px;
}
  
.recommendation.enlarged img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.recommendation.enlarged p {
    font-size: 18px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height as needed */
    color: #333; /* Adjust the color as needed */
    margin-bottom: 10px;
}

  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--bodybackground); 
}

.travel-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: var(--lightgray);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.travelForm h2 {
    color: var(--deepblue);
}

.travelForm label {
    display: block;
    margin-top: 10px;
    color: var(--fontcolor);
}

.travelForm input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid var(--darkerlightblue);
    border-radius: 4px;
}

.travelForm button {
    padding: 10px 20px;
    background-color: var(--deepblue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px; 
    margin: 0
}
.travelForm button:hover {
    background-color: var(--skyblue);
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.daysContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

h2.title {
    font-size: 30px;
}

.day {
    display: flex;
    width: 20vw;
    height: 130vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--deepblue);
    padding: 1.5vw;
    border: double 4px var(--deepblue);
    border-radius: 20px;
}

.itineraryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bodybackground);
}

h1.title {
    font-size: 40px;
    color: var(--deepblue);
    text-align: center;
}