:root {
    /*https://colorhunt.co/palette/eef5ffb4d4ff86b6f6176b87  (Link to color palette)*/
    --lightgray: #EEF5FF;
    --lightblue: #B4D4FF;
    --skyblue: #86B6F6;
    --deepblue: #176B87;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--lightgray);
    display: flex;
    flex-direction: column;
}

.buttonContainer, .navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightblue);
}

.buttonContainer {
    width: 50vw;
    height: 15vh;
}

.buttonContainer img {
    width: 15vw;
    height: auto;
}


.logoName {
    font-size: 48px;
    font-weight: 900;
    color: var(--lightgray);
    opacity: 0.6;
}

.buttonContainer button {
    width: 10vw;
    height: 5vh;
    color: var(--lightgray);
    font-size: 14spx;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
    background-color: var(--skyblue);
    font-family: 'Courier New', Courier, monospace;
}

.buttonContainer button:hover {
    opacity: 1;
    scale: 1.1;
}

.aboutUsHeading {
   color: black;
}

.recomendationsPage {
    color: blue;
}

.plannerHeading {
    color: red;
}