{% extends 'base.html' %}
{% block head %}
<!-- Add any additional head content here -->
{% endblock %} 

<!--If you want to add something to body, just add it in between the block-->

{% block body %}
<div class="aboutUsPage">

  <div class="ourMission">
    <div class="ourMissionDiv">
      <h1>Our Mission</h1>
      <p>Welcome to Wander Planner, your go-to travel itinerary app designed to help you discover and plan your perfect trips. Our team uses the Four Square API to bring you tailored travel recommendations. 
        <br><br>
        By inputting coordinates, radius, and specific queries, our app fetches a curated list of locations to create personalized travel plans that match your interests and schedule.
        We optimize API calls for better performance and cost-efficiency, ensuring a smooth planning experience.
        <br><br>
        Our website offers a user-friendly interface with features like an automatic image slideshow and easy navigation. Explore destinations with ease and enjoy a visually appealing, functional experience. 
        At Wander Planner, we’re committed to improving design, API efficiency, and features, providing you with the best tools for your next adventure. Thank you for choosing Wander Planner – your journey starts here!</p>
    </div>
  </div>
  <img class="missionImg" src="../static/css/images/pexels-photo-1051075.jpeg">
  <img src="../static/css/images/IMG_1346.png">
  <div class="ourMission">
    <div class="ourMissionDiv">
      <h1>Our Team</h1>
      <p>At Wander Planner, our team is dedicated to making travel planning effortless and enjoyable. 
        <br><br>
         Liangquan Wu focuses on leveraging the Four Square API to bring you tailored travel recommendations by optimizing data structures and API calls. 
         Lian Jung has crafted a user-friendly interface with intuitive navigation and engaging features like an automatic image slideshow. 
         Miraj Yafi brings destinations to life on our recommendations page, allowing users to explore and focus on specific travel spots with ease. 
         Allen Varghese ensures our itinerary and about us pages are dynamic and responsive, integrating HTML, CSS, and JavaScript for a seamless user experience. 
         <br><br>
         Together, we are committed to continuously improving our platform, adding new features, and enhancing your travel planning experience.</p>
    </div>
  </div>
  <div class="fullscreen">
      <h1>Contact Us</h1>
      <form action="https://formspree.io/f/xdoqvnev" method="POST">
<!--        <label for="query"></label>-->
        <textarea id="query" class="textarea" name="query"></textarea>
        <input type="submit" value="Send" id="textsubmit">
      </form>
  </div>
</div>




<!--<h2 style="margin-left: 130px;">Contact Us</h2>-->
<!--    <form id="contactForm" action="https://formspree.io/f/xdoqvnev" method="POST">-->
<!--        <label for="query" style="margin-left: 130px;">Your Query:</label><br>-->
<!--        <textarea id="query" name="query" rows="4" cols="50" style="margin-left: 130px;" class="styled-textarea"></textarea><br><br>-->
<!--    </form>-->



{% endblock %}

