{% extends 'base.html' %}
{% block head %}
<!-- Add any additional head content here -->
{% endblock %} 

<!--If you want to add something to body, just add it in between the block-->

{% block body %}

<header class="aboutUsHeading">
  <h1 class="aboutUsLogo" style="text-align: center; font-size: 35px;">About Us</h1>
  <p style="text-align: center;">Here is information about the creators</p>
</header>

<main>
  <section class="teamContainer">
    <h1 style="font-size: 35px;">Meet Our Developers</h1>
    <div class="teamGrid">
      <!-- Team Member 1 -->
      <div class="teamMember">
        <img src="../static/css/images/Screenshot 2024-04-11 at 11.23.56 AM.png" alt ="Photo of Member One">
        <h4>Miraj Yafi</h4>
        <p>Front-end Developer</p>
      </div>
      <!-- Team Member 2 -->
      <div class="teamMember">
        <img src="../static/css/images/liam.jpeg" alt="Photo of Member Two">
        <h4>Liangquan Wu </h4>
        <p>Backend Developer</p>
      </div>
      <!-- Team Member 3 -->
      <div class="teamMember">
        <img src="../static/css/images/image_6487327.JPG" alt="Photo of Member Three">
        <h4>Lian Jung</h4>
        <p>Full Stack Developer</p>
      </div>
      <!-- Team Member 4 -->
      <div class="teamMember">
        <img src="../static/css/images/Screenshot 2024-04-11 at 11.31.12 AM.png" alt="Photo of Member Four">
        <h4>Allen Varghese</h4>
        <p>Front-End Developer</p>
      </div>
    </div>
  </section>
  <section class="missionStatement">
    <h1 style="text-align: center; font-size: 35px;">Our Mission</h1>
    <div style="display: flex; justify-content: center; align-items: center;">
      <p style="width: 50%; text-align: center; font-size: 20px;">
        At WanderPlanner, our mission is to maximize your vacation enjoyment by providing a product that considers vacations as precious and rare opportunities, and we feel privileged to impact the trajectory of your plans.
      </p>
    </div>
    
  </section>

  <section class="marketingSlogan">
    <h2 style="text-align: center;">Don't wander through the unknown!</h2>
  </section>

</main>

{% endblock %}