{% extends 'base.html' %} {% block head %}
<!-- Add any additional head content here -->
{% endblock %} {% block body %}

<nav class="navBar">
  <img class="logoImg" src="" alt="" />
  <h1 class="logoName">WanderPlanner</h1>
  <div class="buttonContainer">
    <button class="button" onclick="window.location.href='/'">Home</button>
    <button class="button" onclick="window.location.href='/planner'">
      Plan Your Trip
    </button>
    <button class="button" onclick="window.location.href='/recommendations'">
      Recommendations
    </button>
  </div>
</nav>

<header class="aboutUsHeading">
  <h1 class="aboutUsLogo">About Us</h1>
  <p>Here is information about the creators</p>
</header>

<!-- Add the content specific to the Recommendation page here -->

{% endblock %}
