<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navBar">
      <img class="logoImg" src="../static/css/images/wander2.png" alt="" onclick="window.location.href='/'"/>
      <h1 class="logoName" onclick="window.location.href='/'">WanderPlanner</h1>
      <div class="buttonContainer">
        <button class="button" onclick="window.location.href='/'">Home</button>
        <div class="dropdown">
          <button class="button" onclick="window.location.href='/planner'">
            Planner
          </button>
          <div id="dropdownContent">
            <a class="link" onclick="window.location.href='/savedPlans'">
              Saved Plans
            </a>
          </div>
        </div>
        <button class="button" onclick="window.location.href='/recommendations'">
          Recommendations
        </button>
        <button class="button" onclick="window.location.href='/map'">
          SimpleMap
        </button>
        <button class="button" onclick="window.location.href='/about_us'">
          About Us
        </button>
        <form class="logForm" action="/toggleLog" method="post">
          <div class="loginBtn button logs" onclick="window.location.href='/login'">
          Log In
          </div>
          <div class="logoutBtn button hide logs" onclick="window.location.href='/login'">
          Log Out
          </div>
        </form>
      </div>
    </nav>

    <!-- Toolbar related code: -->
    <!--The HTML code defines a <div> element with the class "floating-toolbar" and an ID of "floatingToolbar". 
      Inside this <div>, there is a nested <div> with the class "toolbar-content" and a <span> element with the class "toolbar-text", containing the initial text "Help".
      -->
    <div class="floating-toolbar" id="floatingToolbar">
      <div class="toolbar-content">
        <span class="toolbar-text">Help</span>
      </div>
    </div>

    <!-- JavaScript code -->
    <script defer>
      const logForm = document.querySelector(".loginForm")
      const logButtons = document.querySelectorAll(".logs")
      logButtons.forEach((button) => {
        button.addEventListener("click", () => {
          window.location.href = "/login"
          logForm.submit()
        })
      })

      const floatingToolbar = document.getElementById("floatingToolbar");
      let isToolbarEnlarged = false;

      // Function to toggle toolbar enlargement
      // There is a function called toggleToolbar() defined, which is responsible for toggling the enlargement state of the toolbar.
      // When called, it toggles the "enlarged" class on the floating toolbar element using classList.toggle("enlarged"), which determines its appearance.
      // It also updates the isToolbarEnlarged variable accordingly.
      // Inside the toggleToolbar() function, it checks if the toolbar is currently enlarged (isEnlarged).
      // Depending on the state, it sets the text content of the toolbar to either "Help" or a list of useful tips for travel planning.
      // When the toolbar is clicked, it calls the toggleToolbar() function, effectively toggling its enlargement state and updating its text content.
      function toggleToolbar() {
        floatingToolbar.classList.toggle("enlarged");
        isToolbarEnlarged = !isToolbarEnlarged;

        const isEnlarged = floatingToolbar.classList.contains("enlarged");
        const newText = isEnlarged
          ? `Useful tips:
1. Explore popular travel destinations on our recommendations page.
   If you're unsure where to go, this is the perfect place to start!
2. Generate a specialized travel plan just for you on our planner page.`
          : "Help";
        floatingToolbar.querySelector(".toolbar-text").textContent = newText;
      }

      // Add click event listener to toggle toolbar enlargement
      floatingToolbar.addEventListener("click", toggleToolbar); 

      const loginBtn = document.querySelector('.loginBtn');
      const logoutBtn = document.querySelector('.logoutBtn');

      let displayLogoutBtn = localStorage.getItem('loggedIn');

      if (displayLogoutBtn === 'true') {
        loginBtn.classList.add('hide');
        logoutBtn.classList.remove('hide');
      } else {
        loginBtn.classList.remove('hide');
        logoutBtn.classList.add('hide');
      }

      logoutBtn.addEventListener('click', () => {
        localStorage.setItem('loggedIn', false);
        loginBtn.classList.remove('hide');
        logoutBtn.classList.add('hide');
      })


    </script>

    {% block body %}{% endblock %}
  </body>
</html>
