{% extends 'base.html' %}

<!--If you want to add something to head, just add it in between the block-->

{% block head %}

{% endblock %}

<!--If you want to add something to body, just add it in between the block-->

{% block body %}

<nav class="navBar">
    <img class="logoImg" src="" alt="WanderPlannerLogo">
    <h1 class="logoName">WanderPlanner</h1>
    <div class="buttonContainer">
        <button class="button">Home</button>
        <button class="button">Planner</button>
        <button class="button">Reccomendations</button>
        <button class="button">About Us</button>
    </div>
</nav>

{% endblock %}
