{% extends 'base.html' %}

<!--If you want to add something to head, just add it in between the block-->

{% block head %} {% endblock %}

<!--If you want to add something to body, just add it in between the block-->

{% block body %}

<nav class="navBar">
  <img class="logoImg" src="" alt="" />
  <h1 class="logoName">WanderPlanner</h1>
  <div class="buttonContainer">
    <button class="button" onclick="window.location.href='/'">Home</button>
    <button class="button" onclick="window.location.href='/planner'">
      Planner
    </button>
    <button class="button" onclick="window.location.href='/recommendations'">
      Recommendations
    </button>
    <button class="button" onclick="window.location.href='/about_us'">
      About Us
    </button>
  </div>
</nav>
<div class="imageSliderContainer">
    <div class="images">
        <img src="">
        <img src="">
        <img src="">
    </div>
</div>
<div class="quoteContainer">
    <h1 class="quote">
        "Unlock wanderlust with WanderPlanner: 
        Seamless, curated journeys where every moment becomes an exquisite exploration, 
        turning dreams into reality. Your adventure begins here."
    </h1>
</div>
<div class="siteInfoContainer">
    <div class="info">
        <div class="infoHeader">
            <h1>A tool to embark on your perfect adventure</h1>
        </div>
        <div class="infoText">
            <p>
                "Discover boundless horizons with WanderPlanner, your gateway to personalized journeys. 
                Unleash the extraordinary as we meticulously craft seamless itineraries, 
                turning your wanderlust into unforgettable adventures. Start planning now."
            </p>
        </div>
        <div class="startNowBtn">
            <button onclick="window.location.href='/planner'">Plan Now -></button>
        </div>
    </div>
    <!-- https://www.flaticon.com/free-icon/travel_6213814  -->
    <div class="infoImg">
        <img src="../static/css/images/travel.png">
    </div>
</div>

{% endblock %}
