{% extends 'base.html' %} {% block head %}
<!-- Add any additional head content here -->
{% endblock %}

<!--If you want to add something to body, just add it in between the block-->

{% block body %}

<div class="link-container">
<form action="/planner" method="post" class="travelForm">
  <h2>Travel Budget Form</h2>

  <label for="totalBudget">Total Budget:</label>
  <input type="number" id="totalBudget" name="totalBudget" required>

  <label for="radius">Radius:</label>
  <input type="number" id="radius" name="radius" required>

  <label for="totalDays">Total Days:</label>
  <input type="number" id="totalDays" name="totalDays" required>

  <label for="location">Location:</label>
  <input type="text" id="location" name="location" required>

  <label for="departure">Departure:</label>
  <input type="date" id="departure" name="departure" required>

  <label for="return">Return</label>
  <input type="date" id="return" name="return" required>

  <a href='/recommendations'>Don't know where to go?</a>
  </form>
  </div>
  

  <button type="submit" class="formSubmit">Submit</button>
</form>
</nav>

<!--<header class="plannerHeading">-->
<!--  <h1 class="plannerLogo" style="text-align: center">Plan your trip today!</h1>-->
<!--  <p style="text-align: center">Enter the information to plan your trip</p>-->
<!--</header>-->

<!--<body>-->
<!--  <main>-->
<!--    <form class="travel-form">-->
<!--      <h2>Travel Budget Form</h2>-->

<!--      <label for="totalBudget">Total Budget:</label>-->
<!--      <input type="number" id="totalBudget" name="totalBudget" required />-->

<!--      <label for="radius">Radius:</label>-->
<!--      <input type="number" id="radius" name="radius" required />-->

<!--      <label for="totalDays">Total Days:</label>-->
<!--      <input type="number" id="totalDays" name="totalDays" required />-->

<!--      <label for="location">Location:</label>-->
<!--      <input type="text" id="location" name="location" required />-->

<!--      <label for="departure">Departure:</label>-->
<!--      <input type="date" id="departure" name="departure" required />-->

<!--      <label for="return">Return</label>-->
<!--      <input type="date" id="return" name="return" required />-->

<!--      <div class="link-container">-->
<!--        <a href="recommendations.html">Don't know where to go?</a>-->
<!--      </div>-->

<!--      <button type="submit">Submit</button>-->
<!--    </form>-->
<!--  </main>-->

  <!--  <h1>Day1:</h1>-->

  <!--  <h1>Breakfast: </h1>-->
  <!--  <p>{{breakfastList}}</p>-->

  <!--  <h1>Activity One: </h1>-->
  <!--  <p>{{activityOneList}}</p>-->

  <!--  <h1>Lunch: </h1>-->
  <!--  <p>{{lunchList}}</p>-->

  <!--  <h1>Activity Two: </h1>-->
  <!--  <p>{{activityTwoList}}</p>-->

  <!--  <h1>Activity Three: </h1>-->
  <!--  <p>{{activityThreeList}}</p>-->

<script>
  let formSubmit = document.querySelector("button.formSubmit");

  /* After the submit button is clicked, we should redirect to a different page */
  formSubmit.addEventListener("click", function() {
    window.location.href = '/itinerary';
  });
</script>

  <!--  <h1>Dinner:</h1>-->
  <!--  <p>{{dinnerList}}</p>-->
</body>
{% endblock %}
