{% extends 'base.html' %} {% block head %}
<!-- Add any additional head content here -->
{% endblock %}

<!--If you want to add something to body, just add it in between the block-->

{% block body %}

<nav class="navBar">
  <img class="logoImg" src="" alt="" />
  <h1 class="logoName">WanderPlanner</h1>
  <div class="buttonContainer">
    <button class="button" onclick="window.location.href='/'">Home</button>
    <button class="button" onclick="window.location.href='/planner'">
      Planner
    </button>
    <button class="button" onclick="window.location.href='/recommendations'">
      Recommendations
    </button>
    <button class="button" onclick="window.location.href='/about_us'">
      About Us
    </button>
  </div>
</nav>

<header class="plannerHeading">
  <h1 class="plannerLogo">Plan your trip today!</h1>
  <p>Enter the information to plan your trip</p>
</header>

{% endblock %}
