{% extends 'base.html' %} {% block head %}
<!-- Add any additional head content here -->
{% endblock %}

<!--If you want to add something to body, just add it in between the block-->

{% block body %}

<header class="recomendationsPage">
  <h1 class="recsPage">Don't know where to go?</h1>
  <h2>
    Explore our carefully curated selection of popular travel destinations!
  </h2>
  <p></p>
</header>

<div class="recommendations">
  <div class="recommendation">
    <h3>Tokyo, Japan</h3>
    <img src="" alt="Japan" />
    <p>
      Tokyo offers a blend of modernity and tradition. Explore centuries-old
      temples and shrines, vibrant neighborhoods like Shibuya and Shinjuku, and
      indulge in delicious cuisine.
    </p>
  </div>

  <div class="recommendation">
    <h3>Bali, Indonesia</h3>
    <img src="" alt="Indonesia" />
    <p>
      Known for its stunning beaches, lush landscapes, and vibrant culture, Bali
      is a popular destination. Experience the unique Balinese Hindu culture,
      visit ancient temples, and enjoy water activities like surfing and
      snorkeling.
    </p>
  </div>

  <div class="recommendation">
    <h3>Rome, Italy</h3>
    <img src="" alt="Rome, Italy" />
    <p>
      Rome is a city rich in history and architectural wonders. Visit iconic
      landmarks like the Colosseum, Vatican City, and the Roman Forum. Indulge
      in delicious Italian cuisine and immerse yourself in the city's vibrant
      atmosphere.
    </p>
  </div>

  <div class="recommendation">
    <h3>Maui, Hawaii</h3>
    <img src="" alt="Hawaii" />
    <p>
      Maui is a tropical paradise with beautiful beaches, lush rainforests, and
      breathtaking landscapes. Enjoy water sports, explore the Road to Hana,
      visit Haleakala National Park, and witness stunning sunsets.
    </p>
  </div>

  <div class="recommendation">
    <h3>Masai Mara, Kenya</h3>
    <img src="" alt="Kenya" />
    <p>
      Masai Mara is a renowned wildlife reserve in Kenya, known for its
      incredible safari experiences. Witness the annual wildebeest migration,
      spot the Big Five (lion, leopard, elephant, rhino, buffalo), and immerse
      yourself in the rich Maasai culture.
    </p>
  </div>

  <div class="recommendation">
    <h3>Paris, France</h3>
    <img src="" alt="France" />
    <p>
      Paris is known as the "City of Love" and offers a romantic atmosphere.
      Visit iconic landmarks like the Eiffel Tower, Louvre Museum, and
      Notre-Dame Cathedral. Explore charming neighborhoods, indulge in French
      cuisine, and enjoy the city's artistic and cultural heritage.
    </p>
  </div>
</div>
{% endblock %}